/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --plano-de-fundo: hsl(0, 0%, 24%);
    --plano-de-fundo2: hsl(0, 3%, 8%);
    --plano-de-fundo3: hsl(0, 0%, 0%);
    --text-font: hsl(100, 100%, 100%);
 }

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Poppins", Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vw;
    width: 100vw;
    background: linear-gradient(75deg, var(--plano-de-fundo3), var(--plano-de-fundo2), var(--plano-de-fundo)) fixed;
}

body{
    color: var(--text-font);
    font-size: 1em;
    justify-content: center;
}

header h1,
header h2,
header h3 {
    position: absolute;
}

header h1{
    top: 5%;
    left: 35%;
    font-size: 1.5em;    
}

header h2{
    top: 10%;
    left: 45%;
    font-size: 1.5em;    
}

header h3{
    top: 20%;
    left: 10%;
    font-size: 1em
   
}

.img{
    max-width: 500px;
}

#navbar {
    position: fixed;
    top: 20%;
    right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7em;
}

#navbar li{
    display: flex;
    color: var(--text-font);
    max-width: 200px;
    margin: 10px auto;
    border: 3px solid white;
    padding: 5px;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 10px;
}

#navbar li:hover{
    box-shadow: 3px 3px 10px white,
                -3px -3px 10px white;
}

#navbar a {
    text-decoration: none;
    color: var(--text-font);
    margin-left: 10px; /* Adiciona espaço entre os links */
}

section:first-of-type{
    margin-top: 15%;
}

section h2 {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 10px;
}

section p{
    line-height: 2em;
}
section button{
    background: var(--plano-de-fundo3);
    color: var(--text-font);
    cursor: pointer;
}

section button:hover{
    border: 2px solid var(--text-font);
    border-radius: 3px;
}

section {
    max-width: 75%;
    padding-left: 10%;
    margin-bottom: 2%;
}

section i{
    color: var(--text-font);
}

li {
    list-style: none;
}

footer p{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

footer a{
    display: flex;
    color: var(--text-font);
    max-width: 200px;
    margin: 10px auto;
    border: 3px solid white;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

footer a:hover{
    background-color: white;
    color: black;
}